<footer class="footer" id="app-footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
    <span class="footer__copyright"><a href="https://github.com/CareyToboo/dno">dno</a> theme by toboos</span>
</footer>