<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://www.sina.com.cn/" title="@大明 的微博" target="_blank">
      <i class='social fa fa-weibo fa-2x'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/CareyToboo" title="@toboos 的 Github" target="_blank">
      <i class='social fa fa-github fa-2x'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="navigation__item">
    <a href="https://github.com/CareyToboo" title="@toboos" target="_blank">
      <i class='social fa fa-twitter fa-2x'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  
  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}//rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss fa-2x'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:pjmnb007@163.com" title="邮件联系我">
      <i class='social fa fa-envelope fa-2x'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>