<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/error.css"}}">
	<script type="text/javascript" src="{{asset "js/error.js"}}"></script>
</head>
<body>
	<div class="content">
		  <canvas id="snow" class="snow"></canvas>
		  <div class="main-text">
		    <h4>哎呀，亲  ~~ <br/>没有你要找的页面 o_o </h4>
		    <a href="{{@blog.url}}/#blog" class="home-link"><< 回主页吧 </a>
		  </div>
		  <div class="ground">
		    <div class="mound"> 
		      <div class="mound_text">404</div>
		      <div class="mound_spade"></div>
		    </div>
		  </div>
	</div>
</body>
</html>